<html>
	<head>
		<title>socket client</title>
		<script src="https://cdn.socket.io/4.8.3/socket.io.min.js"></script>
		<script src="main.js"></script>
	</head>
	<body>
		<p id="client-number">active users {{ numClient }}</p>
		<form id="form">
			<input type="text" id="input" />
			<input type="submit" value="send message" />
		</form>

		<div id="all-messages"></div>
	</body>
</html>
